<?php
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->render($form);

$form->prepare();

?>



<div class="back-link">
    <a href="<?php echo $this->url('login');?>" class="btn btn-primary">Fazer login</a>
</div>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>POR FAVOR INFORME SEU E-MAIL/LOGIN</h3>
                <!--<small>This is the best app ever!</small>-->
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <?php echo $this->form()->openTag($form); ?>
                    <?php echo $this->formInput($form->get($formClass->getToken())); ?>
                    <div class="form-group">
                        <?php echo $this->formInput($form->get('email')); ?>
                    </div>

                    <?php echo $this->formButton($form->get('submit')); ?>

                    <?php echo $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="http://www.mauricioschmitz.com.br" target="_blank"><strong>Mauricio Schmitz</strong> - Desenvolvimento web</a> <br/> 2016 Copyright
        </div>
    </div>
</div>