<?php
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->render($form);

$form->prepare();
?>

<div class="back-link">
    <a href="<?php echo $this->url('home');?>" class="btn btn-primary">Voltar ao site</a>
</div>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>POR FAVOR FAÇA SEU LOGIN</h3>
                <!--<small>This is the best app ever!</small>-->
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <?php echo $this->form()->openTag($form); ?>
                    <?php echo $this->formInput($form->get($formClass->getToken())); ?>
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('email')); ?>
                        <?php echo $this->formInput($form->get('email')); ?>
                        <span class="small">Seu e-mail/usuário exclusivo para acessar o sistema</span>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('senha')); ?>
                        <?php echo $this->formInput($form->get('senha')); ?>
                        <div class="row">
                            <div class="col-md-12">
                                <span class="small pull-left">Sua senha segura</span>
                                <span class="small pull-right"> <a href="<?php echo $this->url('forgot');?>">Esqueci minha senha</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <?php echo (isset($this->captcha) && $this->captcha) ? $this->formRow($form->get('captcha')) : '';?>
                    </div>
                    <div class="checkbox">
                        <?php echo $this->formInput($form->get('remember_me')); ?>
                        Lembrar-me
                        <p class="small">(se for um computador pessoal)</p>
                    </div>
                    <?php echo $this->formButton($form->get('submit')); ?>
                    <?php echo $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="http://www.mauricioschmitz.com.br" target="_blank"><strong>Mauricio Schmitz</strong> - Desenvolvimento web</a> <br/> 2016 Copyright
        </div>
    </div>
</div>

